<ion-view title="Dulwich Village" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="dulwichVillage-list5">
      <ion-item class="positive" id="dulwichVillage-list-item11" ui-sref="tabsController.restaurantes()">Restaurantes in Dulwich village</ion-item>
      <ion-item class="positive" id="dulwichVillage-list-item12" ui-sref="tabsController.schools()">Schools</ion-item>
      <ion-item class="positive" id="dulwichVillage-list-item13">QUIZ!!!</ion-item>
    </ion-list>
  </ion-content>
</ion-view>