<ion-view title="Dulwich College" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="dulwichCollege-heading1" style="color:#000000;">Dulwich College</h1>
    <div>
      <img src="img/qML6XcdAQL2aoVTkdyj2_dulwich_college.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="dulwichCollege-list4">
      <ion-item class="item-icon-left positive" id="dulwichCollege-list-item10" href-inappbrowser="https://www.dulwich.org.uk/senior-school">
        <i class="icon ion-ios-home"></i>Dulwich College Website</ion-item>
    </ion-list>
    <a href="tel:+44 (0)20 8693 3601" id="dulwichCollege-button2" style="text-align:left;" class="button button-positive button-block">Call: Dulwich College Reception</a>
    <a href="tel:07478139577" id="dulwichCollege-button3" style="text-align:left;" class="button button-positive button-block">Call: Dulwich College Director of IT</a>
    <div id="dulwichCollege-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A little bit of text about Dulwich College...</p>
    </div>
  </ion-content>
</ion-view>