<ion-view title="Restaurantes" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h1 id="restaurantes-heading3" style="color:#000000;">Pizza Express</h1>
    <div>
      <img src="img/T85dsjVBSzCvz4rAn8bc_pizza_express_dulwich_village.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="restaurantes-list2">
      <ion-item class="item-icon-left positive" id="restaurantes-list-item8" href-inappbrowser="https://www.pizzaexpress.com/dulwich-village">
        <i class="icon ion-pizza"></i>Pizza Express Website</ion-item>
    </ion-list>
    <h1 id="restaurantes-heading4" style="color:#000000;">Rocca</h1>
    <div>
      <img src="img/CLggyVRMSihwjgxXhxrw_Rocca_dulwich_village.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="restaurantes-list3">
      <ion-item class="item-icon-left positive" id="restaurantes-list-item9" href-inappbrowser="http://www.roccarestaurants.com/dulwich_village.htm">
        <i class="icon ion-pizza"></i>Rocca Website</ion-item>
    </ion-list>
  </ion-content>
</ion-view>