<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Dulwich Village" icon="ion-ios-sunny" href="#/page1/dulwich village" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Dulwich College" icon="ion-ios-home" href="#/page1/tab2/dulwich college" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Shackleton" icon="ion-android-boat" href="#/page1/shackleton page" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>